<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blog.a"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="app.blog.service.permission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="false"
        android:name=".MyApplication">

        <meta-data
            android:name="TencentMapSDK"
            android:value="xxx" />

        <activity android:name="com.blog.IndexActivity"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.blog.demo10.NestedScrollActivity"
            android:exported="false"/>
        <activity android:name="com.blog.demo11.ViewDragActivity"
            android:exported="false"/>
        <activity android:name="com.blog.demo16.VectorAnimActivity"
            android:exported="false"/>
        <activity android:name=".transition.IndexActivity"
            android:exported="false"/>
        <activity android:name=".transition.DetailActivity"
            android:exported="false"/>
        <activity android:name=".anim.LottieActivity"
            android:exported="false"/>
        <activity android:name=".jni.JNISampleActivity"
            android:exported="false"/>
        <activity android:name=".location.LocationActivity"
            android:exported="false"/>
        <activity android:name=".anim.StrokeOrderActivity"
            android:exported="false"/>
        <activity android:name="com.blog.demo39.BlogServiceActivity"
            android:exported="false"/>
        <activity android:name="com.blog.demo38.DexLoaderActivity"
            android:exported="false"/>
        <activity android:name="com.blog.demo40.EspressoUiActivity"
            android:exported="false"/>
        <activity android:name="com.blog.demo40.EspressoUiActivity2"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="custom.intent.action.demo40"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>